.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color:  #455A3B;
  font-family: freight pro,Georgia,times new roman,serif;
}

input[type=search] {
  box-shadow: none;
}

.about-text {
  font-weight: bold;
}

.about-menu {
  width: 100%;
}

.p-text {
  font-weight: bold
}

p {
  margin: 0;
  padding: 0;
}

figure {
  width: 500px;
}
