.inputFieldsCreateTrip {
    width: 400px !important;
}

.sort-div-create-trip {
    margin-bottom: 10px;
}

.createTripTags {
    display: inline-block;
}

.fileInputType {
    margin-top: 30px;
    margin-left: -20px;
    width: 319px;
}

.sort-type-trip {
    color: black;
}

.title-createTrip {
    margin-top: 20px;
}

.event-content {
    margin-top: -24px;
}

.addTripButton {
    margin: auto;
    width: 15%;
}

.sort-form-createTrip {
    color: black;
}