/* footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 background-color: #455A3B;
 color: white;
 height: 60px;
} */

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
   .column {
       width: 100%;
   }
}

ul {
  list-style: none;
  margin-left: 0rem;
}

li > a {
  /* color: white; */
}

hr {
  width: 10rem;
  margin-left: 0rem;
}

.sticky {
  width:100%;
  height:44px;
  padding-top:20px;
  background-color: #455A3B;
  color:white;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  position:absolute; /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body/page*/
  left:0;            /*and to the left of the body/page.*/
}
