.profileNav {
  display: inline-block;
  float: left;
  margin-left: 200px;
  margin-top: 30px;
}

.basicInfo {
  margin-left: 10px;
  color: #455A3B;
  display: inline-block;
}

.profileImg {
  margin-bottom: 12px;
  margin-left: -21px;
}
profileLink
.h3-title-profile {
  color: #455A3B;
  display: block !important;
  margin-left: 15px;
  width: 200px;
  margin-top: 20px;
}

.profile-placeholders {
  margin-left: 15px;
}

.additionalQuestionLabel {
  font-size: 15px;
}

.editInfoButton {
  width: 50%;
}

.submitInfoButton {
  margin: auto;
  width: 50%;
}

.rightProfile {
  float: right;
  display: inline-block;
  border: dashed;
  padding: 10px;
}

.rightProfileHidden {
  float: right;
  display: inline-block;
  border: dashed;
  padding: 10px;
  display: none !important;
}

.profileContainer {
  margin-right: 200px;
  margin-top: 100px;
  display: inline-block;
}

.favDestLabel {
  text-align: center;
  width: 100%;
}